# Assignment / Personal Practice Session

* For different stock caps, get the following:
    * annualized returns, annualized volatility, 
    * Return on Risk ratio
    * Sharpe ratio

In [6]:
import numpy as np
import pandas as pd

returns = pd.read_csv("./data/Portfolios_Formed_on_ME_monthly_EW.csv", header=0, index_col=0, parse_dates=True, na_values=99.99)

returns

/var/folders/sw/bxz8j14j0gn9_prt5kh2xc4m0000gn/T/ipykernel_39860/3639532002.py:4: UserWarning: Could not infer format, so each element will be parsed individually, falling back to `dateutil`. To ensure parsing is consistent and as-expected, please specify a format.
  returns = pd.read_csv("./data/Portfolios_Formed_on_ME_monthly_EW.csv", header=0, index_col=0, parse_dates=True, na_values=99.99)

,<= 0,Lo 30,Med 40,Hi 30,Lo 20,Qnt 2,Qnt 3,Qnt 4,Hi 20,Lo 10,Dec 2,Dec 3,Dec 4,Dec 5,Dec 6,Dec 7,Dec 8,Dec 9,Hi 10
192607,-99.99,-0.43,1.52,2.68,-0.57,0.59,1.60,1.47,3.33,-1.45,0.29,-0.15,1.33,1.24,1.98,1.55,1.38,3.38,3.29
192608,-99.99,3.90,3.04,2.09,3.84,3.59,3.71,1.61,2.33,5.12,2.59,4.03,3.15,2.72,4.72,1.60,1.63,0.98,3.70
192609,-99.99,-1.08,-0.54,0.16,-0.48,-1.40,0.00,-0.50,-0.09,0.93,-1.87,-2.27,-0.53,0.07,-0.07,-1.64,0.64,-0.86,0.67
192610,-99.99,-3.32,-3.52,-3.06,-3.29,-4.10,-2.89,-3.36,-2.95,-4.84,-1.77,-3.36,-4.83,-2.98,-2.80,-3.45,-3.27,-3.47,-2.43
192611,-99.99,-0.46,3.82,3.09,-0.55,2.18,3.41,3.39,3.16,-0.78,-0.32,-0.29,4.65,3.24,3.57,3.82,2.95,3.61,2.70
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
201808,-99.99,3.47,4.04,2.87,3.09,5.05,3.90,3.54,2.49,2.41,5.07,5.30,4.70,3.02,5.01,3.50,3.58,2.65,2.34
201809,-99.99,-2.24,-1.85,0.08,-2.04,-2.38,-2.48,-0.74,0.19,-1.68,-3.08,-3.22,-1.23,-2.65,-2.27,-1.31,-0.12,-0.51,0.87
201810,-99.99,-10.76,-10.88,-7.63,-10.52,-11.74,-10.55,-9.45,-7.41,-10.02,-11.98,-11.89,-11.52,-11.58,-9.23,-10.74,-8.04,-8.28,-6.57
201811,-99.99,-2.08,2.18,2.19,-2.78,1.69,1.46,2.62,2.49,-3.65,-0.23,1.23,2.30,1.74,1.11,3.54,1.63,2.45,2.53
201812,-99.99,-14.28,-12.41,-9.76,-14.77,-12.44,-12.22,-11.34,-9.21,-15.31,-13.19,-11.94,-13.13,-12.73,-11.57,-11.87,-10.75,-9.54,-8.90

### Annualized returns, volatility, Return on Risk ratio, and Sharpe ratio for **Lowest and Highest 10%, 20%, 30%** caps

In [32]:
fourty_percent_caps_returns = returns[["Lo 10", "Hi 10", "Lo 20", "Hi 20", "Lo 30", "Hi 30"]] / 100

fourty_percent_caps_returns

         Lo 10   Hi 10   Lo 20   Hi 20   Lo 30   Hi 30
192607 -0.0145  0.0329 -0.0057  0.0333 -0.0043  0.0268
192608  0.0512  0.0370  0.0384  0.0233  0.0390  0.0209
192609  0.0093  0.0067 -0.0048 -0.0009 -0.0108  0.0016
192610 -0.0484 -0.0243 -0.0329 -0.0295 -0.0332 -0.0306
192611 -0.0078  0.0270 -0.0055  0.0316 -0.0046  0.0309
...        ...     ...     ...     ...     ...     ...
201808  0.0241  0.0234  0.0309  0.0249  0.0347  0.0287
201809 -0.0168  0.0087 -0.0204  0.0019 -0.0224  0.0008
201810 -0.1002 -0.0657 -0.1052 -0.0741 -0.1076 -0.0763
201811 -0.0365  0.0253 -0.0278  0.0249 -0.0208  0.0219
201812 -0.1531 -0.0890 -0.1477 -0.0921 -0.1428 -0.0976

[1110 rows x 6 columns]

In [21]:
fourty_percent_caps_returns[fourty_percent_caps_returns.isna().any(axis=1)]

Empty DataFrame
Columns: [Lo 10, Hi 10, Lo 20, Hi 20, Lo 30, Hi 30]
Index: []

##### **Annualized Returns**

To annualized return, we take the following steps

* Get returns in multiple periods i.e $R_{t,t+N} = (1 + R_{t, t+1})*...*(1 + R_{t+(N -1), t+N})\ -\ 1$
* Convert the multi-period returns to a `per month` basis
* Annualize the `per_month` return equivalent

This is a monthly time series hence, we use: $(1 + r )^N - 1$

* Returns in multiple periods

In [26]:
number_of_months = fourty_percent_caps_returns.shape[0]

total_return_for_all_months = (fourty_percent_caps_returns + 1).prod() - 1

total_return_for_all_months

Lo 10    1.659582e+06
Hi 10    3.674948e+03
Lo 20    4.825605e+05
Hi 20    5.937102e+03
Lo 30    2.579792e+05
Hi 30    8.174091e+03
dtype: float64

* return_per_month

In [27]:
return_per_month = total_return_for_all_months ** (1/number_of_months) - 1

return_per_month

Lo 10    0.012986
Hi 10    0.007423
Lo 20    0.011860
Hi 20    0.007859
Lo 30    0.011289
Hi 30    0.008149
dtype: float64

* **annualized_returns**

In [30]:
annualized_returns = (1 + return_per_month) ** 12 - 1

print(annualized_returns * 100)

annualized_returns

Lo 10    16.746328
Hi 10     9.280647
Lo 20    15.197699
Hi 20     9.848821
Lo 30    14.420441
Hi 30    10.229197
dtype: float64

Lo 10    0.167463
Hi 10    0.092806
Lo 20    0.151977
Hi 20    0.098488
Lo 30    0.144204
Hi 30    0.102292
dtype: float64

##### **Annualized Volatility**

$$Annualized\ Volatility\ (𝛔_{annual}) = 𝛔_p * \sqrt{p}$$

*where:*
* 𝛔 = volatility (standard deviation)
* p = period. Annual would be `12` for a monthly time series.

In [34]:
annualized_vol = fourty_percent_caps_returns.std() * np.sqrt(12)

annualized_vol

Lo 10    0.368193
Hi 10    0.186716
Lo 20    0.336701
Hi 20    0.195116
Lo 30    0.315962
Hi 30    0.201462
dtype: float64

##### **Return on Risk Ratio**

$$Return\ on\ Risk = \frac{Annualized\ Return}{Annualized\ Volatility}$$

In [35]:
return_on_risk = annualized_returns / annualized_vol

return_on_risk

Lo 10    0.454825
Hi 10    0.497046
Lo 20    0.451370
Hi 20    0.504767
Lo 30    0.456399
Hi 30    0.507747
dtype: float64

##### **Sharpe Ratio**


$$Sharpe\ Ratio = \frac{Excess\ Return}{Annualized\ Volatility}$$

*where:*

* Excess Return = $Annualized\ Return - Risk\ Free\ Rate\ (≅ 3\%)$

In [36]:
sharpe_ratio = (annualized_returns - 0.03) / annualized_vol

sharpe_ratio

Lo 10    0.373346
Hi 10    0.336374
Lo 20    0.362271
Hi 20    0.351013
Lo 30    0.361450
Hi 30    0.358836
dtype: float64