# Implementing Portfolio Insurance (CPPI) and Drawdown Constraints

**Constant Proportion Portfolio Insurance (CPPI)**

In [4]:
%load_ext autoreload
%autoreload 2

import importlib, sys
import numpy as np
import pandas as pd

sys.path.insert(1, "../../week-one")

erk = importlib.import_module("edhec-risk-kit")

industry_returns = erk.get_industry_returns()

industry_returns

The autoreload extension is already loaded. To reload it, use:
  %reload_ext autoreload

/Users/mac/Desktop/development/algo-trading/coursera/introduction-to-portfolio-construction-and-analysis-with-python/week-three/section-one/../../week-one/edhec-risk-kit.py:59: UserWarning: Could not infer format, so each element will be parsed individually, falling back to `dateutil`. To ensure parsing is consistent and as-expected, please specify a format.
  industry_returns = pd.read_csv(

,Food,Beer,Smoke,Games,Books,Hshld,Clths,Hlth,Chems,Txtls,...,Telcm,Servs,BusEq,Paper,Trans,Whlsl,Rtail,Meals,Fin,Other
1926-07,0.0056,-0.0519,0.0129,0.0293,0.1097,-0.0048,0.0808,0.0177,0.0814,0.0039,...,0.0083,0.0922,0.0206,0.0770,0.0193,-0.2379,0.0007,0.0187,0.0037,0.0520
1926-08,0.0259,0.2703,0.0650,0.0055,0.1001,-0.0358,-0.0251,0.0425,0.0550,0.0814,...,0.0217,0.0202,0.0439,-0.0238,0.0488,0.0539,-0.0075,-0.0013,0.0446,0.0676
1926-09,0.0116,0.0402,0.0126,0.0658,-0.0099,0.0073,-0.0051,0.0069,0.0533,0.0231,...,0.0241,0.0225,0.0019,-0.0554,0.0005,-0.0787,0.0025,-0.0056,-0.0123,-0.0386
1926-10,-0.0306,-0.0331,0.0106,-0.0476,0.0947,-0.0468,0.0012,-0.0057,-0.0476,0.0100,...,-0.0011,-0.0200,-0.0109,-0.0508,-0.0264,-0.1538,-0.0220,-0.0411,-0.0516,-0.0849
1926-11,0.0635,0.0729,0.0455,0.0166,-0.0580,-0.0054,0.0187,0.0542,0.0520,0.0311,...,0.0163,0.0377,0.0364,0.0384,0.0160,0.0467,0.0652,0.0433,0.0224,0.0400
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2018-08,-0.0038,-0.0186,-0.0543,0.0289,-0.0447,0.0254,0.0526,0.0446,0.0001,0.0380,...,0.0295,0.0524,0.0993,-0.0034,0.0291,0.0366,0.0911,0.0364,0.0245,0.0299
2018-09,-0.0032,0.0019,0.0537,-0.0009,-0.0221,0.0107,0.0130,0.0199,-0.0287,-0.0638,...,0.0174,-0.0037,-0.0033,-0.0030,0.0105,-0.0148,0.0061,0.0251,-0.0193,0.0116
2018-10,0.0102,-0.0157,0.0790,-0.1596,-0.0666,-0.0051,-0.1014,-0.0884,-0.1250,-0.2579,...,-0.0050,-0.0920,-0.0806,-0.0982,-0.0975,-0.0788,-0.1021,-0.0171,-0.0545,-0.0599
2018-11,0.0272,0.0579,-0.0843,-0.0065,0.0325,0.0644,-0.0099,0.0632,0.0496,0.0292,...,0.0254,0.0129,-0.0505,0.0822,0.0617,0.0318,0.0159,0.0616,0.0289,0.0348
2018-12,-0.0973,-0.0969,-0.1580,-0.0824,-0.1535,-0.0557,-0.0728,-0.0840,-0.0776,-0.1009,...,-0.0884,-0.0765,-0.0923,-0.0863,-0.1519,-0.1121,-0.0919,-0.0628,-0.1144,-0.0693

In [16]:
total_market_index = erk.get_total_market_index_returns()

total_market_index

/Users/mac/Desktop/development/algo-trading/coursera/introduction-to-portfolio-construction-and-analysis-with-python/week-three/section-one/../../week-one/edhec-risk-kit.py:87: UserWarning: Could not infer format, so each element will be parsed individually, falling back to `dateutil`. To ensure parsing is consistent and as-expected, please specify a format.
  industry_nfirms = pd.read_csv(
/Users/mac/Desktop/development/algo-trading/coursera/introduction-to-portfolio-construction-and-analysis-with-python/week-three/section-one/../../week-one/edhec-risk-kit.py:73: UserWarning: Could not infer format, so each element will be parsed individually, falling back to `dateutil`. To ensure parsing is consistent and as-expected, please specify a format.
  industry_size = pd.read_csv(
/Users/mac/Desktop/development/algo-trading/coursera/introduction-to-portfolio-construction-and-analysis-with-python/week-three/section-one/../../week-one/edhec-risk-kit.py:59: UserWarning: Could not infer format, so each element will be parsed individually, falling back to `dateutil`. To ensure parsing is consistent and as-expected, please specify a format.
  industry_returns = pd.read_csv(

1926-07    0.031375
1926-08    0.028957
1926-09    0.005566
1926-10   -0.028504
1926-11    0.028039
             ...
2018-08    0.036951
2018-09    0.002108
2018-10   -0.074292
2018-11    0.019003
2018-12   -0.092911
Freq: M, Length: 1110, dtype: float64

In [17]:
# risky asset
risky_asset_return = industry_returns["2000":][["Steel", "Fin", "Beer"]]

risky_asset_return

          Steel     Fin    Beer
2000-01 -0.0277 -0.0442 -0.0228
2000-02  0.0684 -0.0849 -0.1164
2000-03  0.0349  0.1669  0.0013
2000-04 -0.0084 -0.0425  0.0368
2000-05 -0.0492  0.0506  0.1187
...         ...     ...     ...
2018-08 -0.0323  0.0245 -0.0186
2018-09 -0.0067 -0.0193  0.0019
2018-10 -0.1161 -0.0545 -0.0157
2018-11 -0.0300  0.0289  0.0579
2018-12 -0.1478 -0.1144 -0.0969

[228 rows x 3 columns]

In [18]:
# safe asset
safe_asset_return = pd.DataFrame().reindex_like(risky_asset_return)

safe_asset_return.shape

(228, 3)

In [19]:
# approximately 3% a year
safe_asset_return[:] = 0.03 / 12

safe_asset_return

          Steel     Fin    Beer
2000-01  0.0025  0.0025  0.0025
2000-02  0.0025  0.0025  0.0025
2000-03  0.0025  0.0025  0.0025
2000-04  0.0025  0.0025  0.0025
2000-05  0.0025  0.0025  0.0025
...         ...     ...     ...
2018-08  0.0025  0.0025  0.0025
2018-09  0.0025  0.0025  0.0025
2018-10  0.0025  0.0025  0.0025
2018-11  0.0025  0.0025  0.0025
2018-12  0.0025  0.0025  0.0025

[228 rows x 3 columns]

In [20]:
start = 1000
# 80% of wealth / starting value / capital
floor = 0.8

1. Cushion - (Asset Value minus Floor Value)
2. Compute an allocation to Safe and Risky Assets --> $m * risk\ budget$
3. Recompute the Asset Value based on the returns

##### Little detour to explain for loops and why they should be pushed down to the most efficient method for running it - C programming language, numpy, or pandas

In [27]:
def compound(r):
    return (r + 1).prod() - 1

def log_compound(r):
    return np.exp(np.log(1 + r).sum()) - 1

def log_compound2(r):
    return np.expm1(np.log1p(r).sum())

In [28]:
compound(risky_asset_return)

Steel   -0.051696
Fin      1.773937
Beer     3.361349
dtype: float64

In [29]:
log_compound(risky_asset_return)

Steel   -0.051696
Fin      1.773937
Beer     3.361349
dtype: float64

In [30]:
%timeit compound(risky_asset_return)

409 μs ± 77.1 μs per loop (mean ± std. dev. of 7 runs, 1,000 loops each)

In [31]:
%timeit log_compound(risky_asset_return)

510 μs ± 18.2 μs per loop (mean ± std. dev. of 7 runs, 1,000 loops each)

In [33]:
%timeit log_compound2(risky_asset_return)

351 μs ± 36.5 μs per loop (mean ± std. dev. of 7 runs, 1,000 loops each)

#### Back to CPPI

1. ##### Cushion - (Asset Value minus Floor Value)

In [32]:
dates = risky_asset_return.index
n_steps = len(dates)

# asset value or account value
account_value = start

floor_value = start * floor
multiplier = 3

account_history = pd.DataFrame().reindex_like(risky_asset_return)
# Asset Value - Floor Value
cushion_history = pd.DataFrame().reindex_like(risky_asset_return)
# weight in risky asset
risky_weight_history = pd.DataFrame().reindex_like(risky_asset_return)

for step in range(n_steps):
    cushion = (account_value - floor_value)
    risky_weight = multiplier * cushion